<div class="test">
  <div class="title">
    <p style="color: white">
      Hi, I'm <span>Rémy Aubert</span><br />A <span>web</span> Developper.
    </p>
    <img id="remy-pdp" src="https://media-exp1.licdn.com/dms/image/C4D03AQGUEdlWH-0kXQ/profile-displayphoto-shrink_800_800/0/1626027724185?e=1665014400&v=beta&t=UlIOFhABtVESd1I9e12mnFqamCHsYGksJXHwkUzRyrs"><br>
    <div class="container-btn">
      <ContactButton />
      <ProjetButton />
    </div>
  <a href="https://dribbble.com/shots/2131627-Personal-Portfolio-Site/attachments/388736" target="_blank" class="inspiration">2022 - Remy Aubert</a>
  
  </div>

  <div class="subtitle-container">
    <p class="subtitle">
      Le dev, un metier mais avant tout une passion. Actuellement en alternance
      au sein du Groupe LDLC. Je dev principalement en Javascript/Typescript.
      Grâce à ses langague je suis en mesure de développer des sites web/applications via le framework Vue JS. Je réalise également le developpement de bot Discord en Freelance
    </p>
  </div>
  <div>
    <Buttons />
  </div>
</div>
