@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);

$color1: #ee283e;
$color2: #1f3944;
$color3: white;

html {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: $color2;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-paperplane {
  font-size: 1em;
  color: $color3;
  margin-left: 1px;
  margin-top: 5px;
}

.contact-button {
  cursor: pointer;
  position: relative;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  color: $color3;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 0.92em;
  border: 2px solid $color3;
  border-radius: 4px;
  padding: 20px 60px 20px 55px;
  transition: 0.3s ease-in-out;
  margin-top: 20px;
  margin-bottom: 20px;

  span {
    text-transform: none;
    position: absolute;
    color: $color1;
    top: 20px;
    left: 30px;
    opacity: 0;
    transition: all 0s ease 0s;
  }
  &:hover {
    transition: 0.3s ease-in-out;
    border: 2px solid $color3;
    border-radius: 50px;
    background-color: $color3;

    & > span {
      opacity: 1;
      transition: all 0.25s ease-in-out 0.1s;
    }

    &:before {
      transition: 0.3s ease-in-out;
      background-color: $color1;
    }
  }
}

.inspiration {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: lighten($color2, 25%);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1em;
}

#remy-pdp {
  width: 200px;
  border-radius: 8px;
  margin-bottom: 40px;
}

//Contact Button

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #ffffff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #357ab7;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #cd201f;
  color: #ffffff;
}

.container-button {
  display: flex;
  justify-content: center;
}
