<div class="container-button">
  <ul class="wrapper">
    <a href="https://github.com/Resoki" target="_blank">
      <li class="icon github">
        <span class="tooltip">Github</span>
        <span><font-awesome-icon icon="fa-brands fa-github" /></span>
      </li>
    </a>

    <li class="icon facebook">
      <span class="tooltip">Resoki#2241</span>
      <span><font-awesome-icon icon="fa-brands fa-discord" /></span>
    </li>

    <a href="" target="_blank">
      <li class="icon linkedin">
        <span class="tooltip">Linkedin</span>
        <span><font-awesome-icon icon="fa-brands fa-linkedin" /></span>
      </li>
    </a>
  </ul>
</div>
