<div class="container-button">
<ul class="wrapper">
  <li class="icon github">
    <span class="tooltip">Github</span>
    <span><font-awesome-icon icon="fa-brands fa-github" /></span>
  </li>
  <li class="icon facebook">
    <span class="tooltip">Discord</span>
    <span><font-awesome-icon icon="fa-brands fa-discord" /></span>
  </li>
  <li class="icon linkedin">
    <span class="tooltip">Linkedin</span>
    <span><font-awesome-icon icon="fa-brands fa-linkedin" /></span>
  </li>
  
</ul>
</div>